<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>average</th>
  </tr>
  </thead>

  <tbody>
  <% atts.each do |att| %>
      <tr>
        <td><%= att.name%></td>
        <td><%= round(att.average_rating) %></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>